<% if @contacts.present? %>
  <% @contacts.each do |contact| %>
    <div class="number_holder row">
      <p class="contact_initial"><%= contact.name[0].capitalize %></p>
      <div class="col-sm-12 contact">
        <%= contact.name %><br>
        <%= contact.number %>
      </div>
    </div>
  <% end %>
<% else %>
  <h2>No records found.</h2>
<% end %>
